.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}
.navbar {
    background-color: blueviolet;
}

.box {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
 .screen {
  color: black;
  width: 350px;
 }

 .buttons {
     transition: all 0.5s linear;
 }
 .all { 
    background-color: lightblue;
}
.button {
    background-color: lightcyan;
    border:0.2px solid black;
    color:rgb(27, 26, 26);
    padding: 5px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .btn {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .btn-clear {
    background-color: lightcyan;
    border:0.2px solid black;
    color:rgb(27, 26, 26);
    padding: 5px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  #impbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }


  #impbutton {
    background-color: lightcyan;
    color:rgb(27, 26, 26);
    border:0.2px solid black;
    padding: 5px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
 